.card {
  /* width: 252px; */
  /* height: 265px; */
  background: white;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
}

.img {
  background-color: #9198e5;
  width: 80px;
  height: 80px;
  border-radius: 0px 69px 41px 0px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img > img {
  width: 40px;
  height: 40px;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.save .svg {
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

.icon-box {
  margin-top: 15px;
  /* width: 70%; */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.span-con {
  background-color: #6854fc;
  padding: 10px 15px;
  color: white;
  border-radius: 30px;
  font-size: 15px;
}

.span-con:hover{
    background-color: #9198e5;
    color: #040404  ;
}

.span-work {
  border: 2px solid #6854fc;
  padding: 7px 22px;
  border-radius: 30px;
  font-size: 15px;
}

.span-work:hover{
    background-color: #6854fc;
    color: #fff;
}

.icon-box svg {
  width: 17px;
}

.text .h3 {
  font-family: "Lucida Sans" sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.text .p {
  font-family: "Lucida Sans" sans-serif;
  color: #999999;
  font-size: 13px;
}

.icon-box .span {
  margin-left: 10px;
  font-family: "Lucida Sans" sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #9198e5;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.save:hover {
  transform: scale(1.1) rotate(10deg);
}

.save:hover .svg {
  fill: #ced8de;
}


/* Media Query */

