.img-job{
    background-image: url(../../assets/images/jobopen.png);
    object-fit:contain;
    background-position: center;
    border-radius: 30px;
    height: 350px;
    background-repeat: no-repeat;
}

.SC-text{
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(196, 196, 196, 0.15); */
    /* justify-content: center; */
    padding: 15px 15px;
    border-radius: 0px 0px;
    align-items: center;
}

.SC-bt{
    padding: 12px 25px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background-color: #6854FC;
}

.SC-bt:hover{
    background-color: #6854fc96;
    color: black;
}

